<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('./partials/dashboard/navbar') %>
    <div class="container">
        <h4><%= data.title %></h4>
        <h5>Date: <%= data.date %></h5>
        <a target="_blank" class="btn btn-primary btn-sm" href="<%= data.audio_link %>">Audio File</a>
        <a target="_blank" class="btn btn-primary btn-sm" href="<%= data.text_link %>">Transcript</a>
        <a target="_blank" class="btn btn-warning btn-sm" href="/add">Go Back to Dashboard</a>

        <hr>

        <p class="small" align="justify">
            <%= data.text %>
        </p>

        <h4>Named Entity Recognition</h4>

        <% if(result && result.length>0)  {%>

            <table class="table">
                <tr>
                    <th>WORD</th>
                    <th>ENTITY</th>
                    <th>SCORE</th>
                </tr>

            <% result.forEach(function(result){ %>

               <tr>
                <td><%= result.word %></td>
                                <td><%= result.entity %></td>
                                                <td><%= result.score %></td>


                

               </tr>
            
            
            <% }) %>
                    </table>

        <% } else { %>
            <p class="small">No Data Found!</p>

            <% } %>

    </div>
    <%- include('partials/footer') %>
</body>
</html>